[submodule "scripts/script-helpers"]
	path = scripts/script-helpers
	url = git@github.com:nikolareljin/script-helpers.git
	branch = production
[submodule "scripts/ci-helpers"]
	path = scripts/ci-helpers
	url = git@github.com:nikolareljin/ci-helpers.git
