[submodule "scripts/script-helpers"]
	path = scripts/script-helpers
	url = https://github.com/nikolareljin/script-helpers.git
	branch = production
[submodule "scripts/ci-helpers"]
	path = scripts/ci-helpers
	url = https://github.com/nikolareljin/ci-helpers.git
	branch = production
