# Android
*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin
/bin
/build

# Tests
.test

# Keystores
*.jks
*.keystore
keystore/keystore.properties

# Google Services
google-services.json

# IDEs
.vscode/
.project
.classpath
.settings/
*.launch
*.factorypath
.metadata/

# System
Thumbs.db
desktop.ini

# Models
app/src/main/assets/*.bin

/ignore/
