name: Gitleaks Scan

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main
      - "release/**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  gitleaks-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Gitleaks scan
        uses: nikolareljin/ci-helpers/.github/actions/gitleaks-scan@production
