name: Security Scan

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main
      - "release/**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  trivy-scan:
    uses: nikolareljin/ci-helpers/.github/workflows/trivy-scan.yml@production
    secrets: inherit
